---
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    assignees:
      - solairen
  - package-ecosystem: nuget
    directory: "/src"
    schedule:
      interval: weekly
    assignees:
      - solairen
  - package-ecosystem: nuget
    directory: "/test"
    schedule:
      interval: weekly
    assignees:
      - solairen
  - package-ecosystem: devcontainers
    directory: "/"
    schedule:
      interval: weekly
    assignees:
      - solairen
  - package-ecosystem: dotnet-sdk
    directory: "/"
    schedule:
      interval: "weekly"
    assignees:
        - solairen
